<div class="header">
  <div class="logo"></div>
</div>

<div class="container">

  <div class="bookContainer" id="book01">
    <div class="bookImage" id="img01">&nbsp;</div>
    <p class="bookTitle">
      Store Discounts <br/>
    </p>
    <div class="bookPrice">Sign Up Here!</div>
    <p class="bookEdition">Today Only</p>
  </div>

  <div class="bookContainer" id="book02">
    <div class="bookImage" id="img02">&nbsp;</div>
    Poultry/Seafood <br/>
    <br/>
    <a href="#"></a>
  </div>

  <div class="bookContainer" id="book03">
    <div class="bookImage" id="img03">&nbsp;</div>
    Dairy/Cheese/Yogurt <br/>
     <br/>
    <a href="#"></a>
  </div>

  <div class="bookContainer" id="book04">
    <div class="bookImage" id="img04">&nbsp;</div>
    Fruits and Veggies <br/>
     <br/>
    <a href="#"></a>
  </div>

  <div class="bookContainer" id="book05">
    <div class="bookImage" id="img05">&nbsp;</div>
    Water/Soft Drinks <br/>
     <br/>
    <a href="#"></a>
  </div>

  <div class="bookContainer" id="book06">
    <div class="bookImage" id="img06">&nbsp;</div>
    Desserts <br/>
    <br/>
    <a href="#"></a>
  </div>
  <div class="bookContainer" id="book07">
    <div class="bookImage" id="img07">&nbsp;</div>
    Bread/Wheat/Nonperishables <br/>
     <br/>
    <a href="#"></a>
  </div>
  <div class="bookContainer" id="book08">
    <div class="bookImage" id="img08">&nbsp;</div>
    Condiments/Seasonings/Rubs <br/>
     <br/>
    <a href="#"></a>
  </div>
GreenLeaf
</div>
