<!DOCTYPE html>
<html>
  <head>
    <title>GreenLeaf | Grocery Shopping Made Easy</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon ==================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="img/favicon-144.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes=144x144" href=img/favicon-144.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
    <!--Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
    <!--Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-57.png">
    <!-- Resources style ================ -->
    <link href="css/theme-Dark.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="https://cdn.syndication.twimg.com/widgets/timelines/729682052082106368?&lang=en&callback&suppress_response_codes=true&rnd=0.8171044596226973">
    </script> ==$0
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/29/2/common.js"></script> == $0
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/29/2/utils.js"></script> == $0
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/29/2/stats.js"></script>
  </head>
  <body>
    <section class="animsition" style="animation-duration: 1500ms; opacity: 1;">
      <div id="leftSide">
        <div id="home" class="gradient">
          <!-- Greenleaf logo -->
          <img src="img/logo.png" alt class="main-logo">
          <div class="h-content">
            <h1>
              "Hello Guys!"
              <br>
              "GreenLeaf Fresh is Coming to a Grocery Near You"
            </h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
        <ul class="social_icons">
          <li>
            <a href="#">
<i class="icon ion-social-facebook">
::before
</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon ion-social-twitter">
                ::before
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon ion-social-instagram">
              ::before
            </i>
          </a>
        </li>
        <li>
          <a href="#">
          <i class="icon ion-social-linkedin">
          ::before
        </i>
      </a>
    </li>
    <li>
      <a href="#">
      <i class="icon ion-social-youtube">...</i>
    </a>
  </li>
</ul>
</div>
</div>
<div id="rightSide">
  <div class="project">
    <ul class="gallery project_navigation" style="position: relative; height: 2846.2px;">
      <li class="item col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 0px;">
      <figure>
      <!-- Your picture -->
    <img src="img/pexels-photo-14075.jpeg" alt="This is my work" class="img-responsive">
  <!-- Picture's description below this one -->
<figcaption class="caption">
  <div class="photo-details">
<h4>Music Player</h4>
<span>By Code Rare</span>
</div>
<a href="#project1" class="view"VIEW></a>
</figcaption>
</figure>
</li>
<li class="item col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 347px;">
<figure>
  <!-- Your picture -->
  <img src="img/shells-massage-therapy-sand.jpg" alt="This is my work" class="img-responsive">
  <!-- Picture's description below this one -->
  <figcaption class="caption">
    <div class="photo-details">
      <h4>Sea Shells</h4>
      <span>By Code Rare</span>
    </div>
    <a href="#project2" class="view">VIEW</a>
  </figcaption>
</figure>
</li>
<li class="item col-sm-6 col-xs-12" style="position: absolute; left:0px; top: 695px;">
<figure>
  <!-- Your picture -->
  <img src="img/typing-vintage-technology-keyboard.jpg" alt="This is my work" class="img-responsive">
  <!-- Picture's description below this one -->
  <figcaption class="caption">
  <div class="photo-details">
    <h4>Typing</h4>
    <span>By Code Rare</span>
  </div>
  <a href="#project3" class="view">VIEW</a>
</figcaption>
  </figure>
  </li>
    <li class="item col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 1423px;">
    <figure>
      <!-- Your picture -->
      <img src="img/hand-taking-photo-photography-vintage.jpg" alt="This is my work" class="img-responsive">
      <!-- Picture's description below this one -->
      <figcaption class="caption">
      <div class="photo-details">
        <h4>Camera</h4>
        <span>By Code Rare</span>
      </div>
      <a href="#project4" class="view">VIEW</a>
    </figcaption>
  </figure>
</li>
<li class="item col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 1770px;">
<figure>
  <!-- Your picture -->
  <img src="img/guitar.jpg" alt="This is my work" class="img-responsive">
  <!-- Picture's description below this one -->
  <figcaption class="caption">
  <div class="photo-details">
<h4>Guitar</h4>
<span>By Code Rare</span>
      </div>
    <a href="#project5" class="view">VIEW</a>
  </figcaption>
</figure>
</li>
<li class="item col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 2498px;">
<figure>
  <!-- Your picture -->
  <img src="img/food-plate-yellow-white.jpg" alt="This is my work" class="img img-responsive">
  <!-- Picture's description below this -->
  <figcaption class="caption">
  <div class="photo-details">
<h4>Food</h4>
<span>By Code Rare</span>
      </div>
    <a href="#project6" class="view">VIEW</a>
  </figcaption>
</figure>
</li>
</ul>
<ul class="project_info">
  <li id="project1">
  <img>
<div class="project_content">
  <h2>YOUR TITLE GOES HERE</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<a href="#close" class="close">
<i class="ion-android-close"></i>
</a>
</li>
  <li id="project2">
  <img>
  <div class="project_content">
    <h2>YOUR TITLE GOES HERE</h2>
    <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  </div>
  <a href="#close" class="close">
  <i class="ion-android-close"></i>
</a>
</li>
<li id="project3">
<img>
<div class="project_content">
  <h2>YOUR TITLE GOES HERE</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<a href="#close" class="close">...</a>
<i class="ion-android-close"></i>
</a>
</li>
<li id="project4">
<img>
<div class="project_content">
  <h2>YOUR TITLE GOES HERE</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<a href="#close" class="close">.
  <i class="ion-android-close"></i>
</a>
</li>
<li id="project5">
<img>
<div class="project_content">
  <h2>YOUR TITLE GOES HERE</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
<a href="#close" class="close">
<i class="ion-android-close"></i>
</a>
</li>
<li id="project6">
<img>
<div class="project_content">
  <h2>YOUR TITLE GOES HERE</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<a href="#close" class="close">
<i class="ion-android-close"></i>
</a>
</li>
</ul>
      </div>
    <div id="subscribe">
      <h2>Stay tuned we're coming this year</h2>
      <div class="mb100" id="clock" data-date="2016/08/02 12:00:00"></div>
      <form id="subscribe-form" action="http://coderare.us12.list-manage.com/subscribe/post-json?u=112a29375b248b89f47be547&id=e46717ab68" method="get">
        <input type="email" name="EMAIL" class="input-email" value placeholder="Email address *">
        <input type="submit" name="subscribe" class="submit input-submit" value="Subscribe">
        <div class="subscribe-result"></div>
      </form>
        </div>
        <div class="about">
          <h2>Get started fast with one of our unique, pre-built concepts.</h2>
          <p>
"Customers love our block-based approach to template building, it makes assembling
beautiful pages fast and enjoyable, leaving more time to craft your perfect layout. love
our block-beautiful pages
fast and enjoyable, leaving more time to craft your perfect layout."
          </p>
          <p>
Aenean sollicitudin, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="service row">
            ::before
            <div class="feature col-sm-3 col-xs-3">
              <i class="ion-heart">
              ::before
            </i>
            <h6>SIMPLE</h6>
            </div>
            <div class="feature col-sm-3 col-xs-3">
              <i class="ion-erlenmeyer-flask">
              ::before
            </i>
              <h6>CREATIVE</h6>
            </div>
            <div class="feature col-sm-3 col-xs-3">
<i class="ion-waterdrop">
::before
</i>
<h6>SMOOTH</h6>
            </div>
            <div class="feature col-sm-3 col-xs-3">
              <i class="ion-code">
              ::before
            </i>
              <h6>STABLE</h6>
            </div>
            ::after
          </div>
        </div>
        <div class="pricing">
          <div class="row">
            ::before
            <div class="offers col-sm-8 col-xs-8">
              <ul class="col-sm-6 col-xs-6">
                <li>Hosting</li>
                <li>Web Security</li>
                <li>Domain</li>
              </ul>
              <ul class="col-sm-6 col-xs-6">
                <li>24/7 Support</li>
                <li>Email Hosting</li>
                <li>Premium DNS</li>
              </ul>
            </div>
            <div class="price col-sm-4 col-xs-4">
<h5 class="rate">
::before
"29"
</h5>
<p>
<strong>Per Month</strong>
</p>
            </div>
            ::after
          </div>
        </div>
        <div id="contact" class="row">
          ::before
          <h2>
          "Get in "
        <strong>touch</strong>
        ", we'd love to hear from you."
      </h2>
          <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <address class="row">
            ::before
            <span class="col-sm-6 col-xs-12">
            <i class="ion-location">
            ::before
          </i>
          "
          1355 Market Street, Suite 900
          San Francisco, CA 94103"
        </span>
            <span class="col-sm-6 col-xs-12">
            <i class="ion-ios-telephone">
            ::before
          </i>
        "
(123) 456-7890
        "
      </span>
      <span class="col-sm-6 col-xs-12">
        <i class="ion-email">
        ::before
      </i>
      "
hello@CodeRare.com
      "
      </span>
      ::after
          </address>
          <form id="contact_form" class="row" method="post" action="php/mailer.php">
::before
<div class="col-sm-6 col-xs-12">
  <input type="name" name="name" class="input-name" placeholder="Name">
  <input type="email" name="email" class="input-email" placeholder="Email">
</div>
<div class="col-sm-6 col-xs-12">
  <textarea name="message" class="input-message" placeholder="Message"></textarea>
</div>
<div class="col-sm-12 col-xs-12">
  <button class="submit">Send</button>
</div>
<div id="form-messages" class="col-sm-12 col-xs-12">
  <span class="success col-sm-12 col-xs-12"></span>
  <span class="error col-sm-12 col-xs-12"></span>
</div>
::after
          </form>
          ::after
        </div>
        <footer>
<p class="uppercase">
"GreenLeaf - Made With Love "
<i class="ion-heart">
::before
</i>
</p>
<div class="drag">
  <i class="up ion-arrow-up-c">
  ::before
</i>
</div>
        </footer>
      </div>
    </section>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/animisition.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/twitterFetcher_min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/photoswipe.min.js"></script>
    <script src="js/photoswipe-ui-default.min.js"></script>
    <script src="js/jginstapics.min.js"></script>
    <script src="js/script.js"></script>
  </body>
      
</html>
